@model List<Project>
@{
    //razor block
    ViewData["Tille"] = "Projects";
    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchString = ViewData["SearchString"] as string;
}
<h2>Projects</h2>
<a asc-controller="Project" asp-action="create" class="btn btn-primary">Create New Project</a>
@if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th> <!-- Column for action buttons Details, edit, delete-->
                </tr>
            </thead>

            <tbody>
                @foreach (var project in Model)
                 { <tr>
                      <td>@project.ProjectId</td>
                      <td>@project.Name</td>
                      <td>@project.Description</td>
                      <td>
                          <a asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn-info">Details</a>
                          <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-secondary">Edit</a>
                          <a asp-action="Delete" asp-route-id="@project.ProjectId" class="btn btn-danger">Delete</a>
                          <!--Link to view task for the project-->
                          <a asp-controller="Task" asp-action="Index"
                             asp-route-projectId="@project.ProjectId" class="btn btn-warning">View Tasks</a>
                      </td>
                   </tr>
                  }
            </tbody>
        </table>
    }
    else
    {
        if (searchPerformed)
        {
           <p>No projects withe the name pr description "@searchString" were found</p>
        }
        else
        {
        <p>No projects availble</p>
        }
    }